*__pycache__*
.claude
.opencode
.plan
Readme.md
new_task.md
hyperedge_definition.md
*venv/                                                                         
*.pyc                                  
*.pytest_cache/                                                                
*.env                                                                          
*data/indexed*/                                                                
*data/debug/
*.DS_Store
release-manifest.json
repomix-output.xml
*hyp_dlm/hyp_dlm.egg-info
hyp_dlm/data
docs